@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

@layer base {
  body {
    @apply bg-bg text-text font-extralight;
    font-family: 'Open Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', serif;
  }
}
@layer components {
  .button {
    @apply relative mx-2 inline-block rounded-full px-2 py-2 text-xs shadow-xl hover:scale-105 sm:px-4 sm:text-xl;
    background-color: var(--button-bg-color, var(--bg-color));
    color: var(--button-text-color, var(--text-color));
    border: 2px solid var(--bg-color);
  }
  .borderstyle {
    @apply border border-text;
  }

  .nav {
    z-index: 2;
  }

  .navbar {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  .menu-toggle {
    cursor: pointer;
  }

  .nav-overlay {
    position: fixed;
    background: var(--accent-color);
    z-index: -2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 4em;
    transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .hamBox {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 1em;
  }

  .hamBox:hover {
    background: var(--accent-color);
  }

  .hamBoxOpen {
    background: var(--accent-color);
  }

  .hamBox:hover .lineTop,
  .hamBox:hover .lineBottom {
    background: white;
  }

  .lineTop,
  .lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 10px;
    background: black;
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
  }

  .lineTop {
    top: 1.1em;
  }

  .lineBottom {
    bottom: 1.1em;
  }

  .lineTop.spin {
    top: 1.3em;
    transform: rotate(135deg);
    background: #fff;
  }

  .lineBottom.spin {
    bottom: 1.3em;
    transform: rotate(225deg);
    background: #fff;
  }

  ul.nav-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul.nav-links li {
    list-style: none;
    position: relative;
  }

  ul.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    position: relative;
    top: 0;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .nav-item-wrapper:after {
    content: '';
    position: absolute;
    top: 120px;
    left: -10%;
    width: 120%;
    height: 100%;
    background: var(--accent-color);
    margin: 0 auto;
  }

  @media (max-width: 900px) {
    ul.nav-links li a {
      font-size: 2em;
    }
  }

  html,
  body,
  #__next {
    height: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }
}
